@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.navbar {
  margin-left: auto;
  margin-right: auto;
  width: 905px;
  height: 42px;
  padding-top: 15px;
  float: center;
}
.logo {
  height: auto;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}
.logoText {
  height: 42px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}
#bigText {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}
#smallText {
  font-family: sans-serif;
  font-size: 10px;
  margin: 0px;
}
.socialMedia {
  height: 42px;
  float: right;
}
.facebook, .twitter, .googlePlus, .instagram, .flickr, .pintrest, .email {
  height: 26px;
  width: 26px;
  float: left;
  margin-right: 2px;
}
.rssFeed {
  height: 26px;
  width: 26px;
  float: left;
  margin-right: 2px;
  margin-left: 5px;
}
hr {
  height: 15px;
  width: 905px;
  background: url(photos/hr-11.png) repeat-x 0 0;
  border: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.main {
  margin-left: auto;
  margin-right: auto;
  width: 905px;
  height: auto;
  border: 1px solid black;
}
.title {
  margin-top: 60px;
  border: 1px solid black;
}
.titleOfProduct {
  height: 60px;
  width: 300px;
  border: 1px solid black;
}
.titleOfProductText {
  height: 13px;
  width: 300px;
  border: 1px solid black;
}
.printIcon {
  height: 13px;
  width: 10px;
  float: right;
  margin-top: -15px;
  border: 1px solid black;
}
.printText {
  height: 13px;
  width: 20px;
  float: right;
  margin-top: -15px;
  border: 1px solid black;
}
.photoOfProduct {
  height: 603px;
  width: 903px;
  margin-top: 30px;
  border: 1px solid black;
}
.photoText {
  height: 30px;
  width: auto;
  border: 1px solid black;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 905px;
  height: 73px;
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}
.authorPhoto {
  height: 71px;
  width: 68px;
  border: 1px solid black;
  float: left;
}
.authorText {
  height: 71px;
  width: 40px;
  border: 1px solid black;
  float: left;
}
.shareRecipeButton {
  height: 71px;
  width: 90px;
  border: 1px solid black;
  float: left;
}
